*{
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.top1 h1{
    background-color: greenyellow;
    padding: 12px;
    width: 100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: fixed;
}

.top2 img{
    width:100%;
    /* transition: preserve-3d; */
    margin-top: 90px;
}

.top3{
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: center;
    justify-content: center;
    margin-top: 80px;
    /* margin-left: 80px; */
}

.top4 i{
    font-size: 100px;
    margin-left: 40px;
    color: yellowgreen;
}

.top4 {
   display: flex;
}

.top4 p{
    font-size: 40px;
    margin-left: 30px;
    margin-top: 30px;
    font-weight:bold;
}

/* .card{
    box-shadow: 6px 6px 6px 6px yellowgreen;
    width: 40%;
    height: 200px;
    border-radius: 5px;
} */

/* .btn{
    background-color: yellowgreen;
    padding: 10px;
    justify-content: center;
    text-align: center;
    color: red;
    list-style: none;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
} */

.ban2 img{
    width:1300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0%;
}
.ban2{
    align-items: center;
    justify-content: center;
    display: flex;
}

.card{
    width:300px; 
    margin-top: 40px;
    margin-left: 110px;
    gap: 4rem;
    box-shadow: 2px 2px 2px 2px black;
}

.text1 p {
    font-size: 20px;
}

.card img{
    width: 300px;
    height: 250px;
    
}

.container{
display: flex;
margin-top: 90px;

}

.card img:hover{
    cursor: pointer;
    opacity: .7;
   
}

.text1 p:hover{
    color:red;
    cursor: pointer;
}

.text1 button{
    background-color: red;
    color: #fff;
    padding: 4px;
}

.text1 button:hover{
    cursor: pointer;
    opacity: .7;

}

.ft h2{
    background-color: rgb(159, 252, 20);
    text-align: center;
    margin-top: 40px;
    padding: 9px;
}

.addr p {
    text-align: center;
    line-height: 2.2;
    font-size: 20px;
    font-weight: bold;
}
