*{
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.top1 h1{
    background-color: greenyellow;
    padding: 12px;
    width: 100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: fixed;
}
/* .top-1 h6{
    background-color: greenyellow;
    position: fixed;
    color: black;
    margin-top: 3%;
    margin-left: 7%;
    font-size: 15px;

} */


.top2 img{
    width:100%;
    /* transition: preserve-3d; */
    margin-top: 90px;
}

.top3{
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: center;
    justify-content: center;
    margin-top: 80px;
    /* margin-left: 80px; */
}

.top4 i{
    font-size: 100px;
    margin-left: 40px;
    color: yellowgreen;
}

.top4 {
   display: flex;
}

.top4 p{
    font-size: 40px;
    margin-left: 30px;
    margin-top: 30px;
    font-weight:bold;
}

/* .card{
    box-shadow: 6px 6px 6px 6px yellowgreen;
    width: 40%;
    height: 200px;
    border-radius: 5px;
} */

/* .btn{
    background-color: yellowgreen;
    padding: 10px;
    justify-content: center;
    text-align: center;
    color: red;
    list-style: none;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
} */

.ban2 img{
    width:1300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0%;
}
/* .ban2{
    align-items: center;
    justify-content: center;
    display: flex;
} */
.ban2 img{
    width: 100%;
    height: 200px;
    /* object-fit: cover; */
}

.card{
    width:300px; 
    margin-top: 40px;
    margin-left: 110px;
    gap: 4rem;
    box-shadow: 2px 2px 2px 2px black;
}

.text1 p {
    font-size: 20px;
}

.card img{
    width: 300px;
    height: 250px;
    
}

.container{
display: flex;
margin-top: 90px;

}

.card img:hover{
    cursor: pointer;
    opacity: .7;
   
}

.text1 p:hover{
    color:red;
    cursor: pointer;
}

.text1 button{
    background-color: red;
    color: #fff;
    padding: 4px;
}

.text1 button:hover{
    cursor: pointer;
    opacity: .7;

}

.ft h2{
    background-color: rgb(159, 252, 20);
    text-align: center;
    margin-top: 40px;
    padding: 9px;
}

.addr p {
    text-align: center;
    line-height: 2.2;
    font-size: 20px;
    font-weight: bold;
}


@media (min-width:300px){
    .ban2 img{
        width:100%;
        display: flex;
      }
    
      .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      
      .card{
        margin-left:10px;
        width: 280px;
      }
      .card img{
        width: 280px;
      }

}


@media (min-width:768px){
    .card{
        width: 200px;
        height: 250px;
        margin-left: 40px;
        margin-bottom: 50px;
    }

    .container{
        display: flex;
        flex-direction: row;
        justify-content: center;
      }

      .card img{
        width: 200px;
      }

      .ban2 img{
        width: 100%;
        height: 30%;
        display:flex;
      }

      

}

@media (min-width:1024px){

    .card{
        width: 280px;
        height: 290px;
        margin-left: 60px;
        margin-bottom: 10px;
    }

    .container{
        display: flex;
        flex-direction: row;
        justify-content: center;
      }

      .card img{
        width: 280px;
        height: 200px;
      }

      .ban2 img{
        width: 100%;
        height: 30%;
        display:flex;
      }
      
      .addr p{
        margin-top: 12px;
      }
}

@media (min-width:1440px){

    .card{
        width: 350px;
        height: 350px;
        margin-left: 100px;
        margin-bottom: 50px;
    }

    .container{
        display: flex;
        flex-direction: row;
        justify-content: center;
      }

      .card img{
        width: 350px;
      }

      .ban2 img{
        width: 100%;
        height: 30%;
        display:flex;
      }
}

@media (min-width:2560px){
    .card{
        width: 600px;
        height: 600px;
        margin-left: 200px;
        margin-bottom: 50px;
    }
    .card img{
        width: 600px;
        height: 450px;
      }

      .text1 h1{
        font-size: 35px;
      }

      .text1 p{
        font-size: 30px;
      }
      .text1 button{
        font-size: 30px;
        padding: 10px;
      }

      .top3 h4{
        font-size: 40px;
      }

    .top4 p{
        font-size: 60px;
    }

    .ft h2 {
        font-size: 40px;
    }

    .addr p{
        font-size: 40px;
    }


}